/* utilities */


body{
    background-color: rgb(224, 219, 219);
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* --------------------------------------------------------
                       Header section
--------------------------------------------------------- */
.head-container{
    display: flex;
    background-color: rgb(25, 68, 68);
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    color: white;  
}


/*-------------------- header text section------------------ */
.head-text{
    width: 50%;
    margin: 0;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 10px;
    object-fit: cover;
  
    
}
.head-text h1{
    font-size: 1.5em;
    margin: 0px;
}
.head-text> p{
    margin-bottom: 10px;
    padding-right: 30px;
    padding-bottom: 20px;
    font-size: .75rem;
}
.head-button{
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top:30px;
    border-radius: 5px;
    
}
/*------------------- header image section--------------------- */
.head-image{
    width: 50%;
    margin: 0;
    padding-right: 20px;
}
.head-image:hover{
    width: 100%;
    transition: 2s ease-in-out;
}


.head-container> .head-image> img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:left;
    
}

/*-----------------------------------------------------------------
                    Main body section
------------------------------------------------------------------ */
main{
    margin: auto;
}
.main-container{
    width: 80vw;
    display:flex;
    margin: auto;
    height: auto;
    padding: 50px 0 50px 0;

    
}
/*---------------------- sidebar------------------------*/
.sidebar-container{
    margin: 0px;
    padding: 0px;
    width: 250px;
   
    background-color: rgb(224, 219, 219);
    
}
.sidebar{
    width: 90%;
    height: 170px;
    display:flex;

    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(9, 47, 90);

}
.sidebar div{
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    
}
.sidebar div:hover{
    background-color: tomato;
}

.sidebar a{
    text-decoration: none;
    color: black;
}


/* --------------------------------blog section----------------------------- */
.blogs{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.blogs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
.blog{
    border: 1px solid rgb(148, 144, 144);
    border-radius: 10px;
    overflow: hidden;
}
.thumbnail{
    height: 200px;
    margin-bottom: 10px;
}

.blog-info a{
    text-decoration: none;
    background-color: rgb(209, 216, 214);
    color: black;
    font-size: .75rem;
    border: 1px solid black;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}
.blog-info h3{
    padding-left: 10px;
}
.fa-trophy{
    padding-left: 10px;
    padding-right: 10px;
}
.fa-comment-dots{
    padding-left: 10px;
    padding-right: 10px;
}
/*----- main screen hidden items------ */
section>button{
    display: none;
}
/* ----------------------------------------------------------------------
                                  footer
-------------------------------------------------------------------------- */
footer{
    background-color: black;
    color: white;

}
footer h1 { 
    text-align: center;
    padding: 20px;
}
footer hr{
    width: 90%;
}
/* -----------------------------footer menu section------------------------- */
.menu-item{
    display:flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}
.menu-item> ul{
    display: inline-flex;
}

.menu-item li{
    
    list-style: none;
    padding: 20px;   

}
.menu-item a{
    text-decoration: none;
    color: white;
    font-size: .75rem;
}
/* ----------social media section--------- */
footer>p {
    text-align: center;
    padding-bottom: 50px;
}

footer>p>a{
    font-size: 1.7rem;
    padding-left: 10px;
    color: blue;
}

/* ------------------------------------
             Media Queries-
------------------------------------- */

/*----------------mobile device------------------- */

@media only screen and (max-width:688px) {
 .head-container{
flex-direction: calc(y);
height: 100%;
flex-wrap: wrap;
align-items: center;
justify-content: center;
 }   
 .head-text{
    display: flex;
    flex-wrap: wrap;
    height: 50%;
    padding-left: 0;
    
 }
 .head-button{
    align-items: center;
    text-align: center;
 }
 .head-image{
    height: 50%;
    object-fit: cover;
    flex-wrap: wrap;
    
 }
    .main-container{
        height: 100%;
        
        display: grid;
        grid-template-columns: 1fr;
    }
    .sidebar-container{
        display: flex;
        height: auto;
        align-items: center;
        justify-content: center;
        margin: auto;
        margin-bottom: 50px;

    }
    .sidebar{
        align-items: center;
        margin: auto;
    }
    .blogs{
        display: grid;
        grid-template-columns: 1fr;
    }

    .menu-item > ul{
        display: flex;
        flex-direction: column-reverse;
    }
    .menu-item>ul>li>a{
        color: white;
        background-color: black;
    }

    /* ---------------hidden item----- */

    section>button{
        display: none;
    }
}

 /*----------------------------------------
               tablet view
  --------------------------------------------- */

@media only screen and (min-width:689px) and (max-width:992px) {
 
    .main-container{
        height: 100%;
        padding: auto;
        display: grid;
        grid-template-columns: 1fr;
    }
    .sidebar-container{
        display: flex;
        width: auto;
        height: 100px;
        
        align-items: center;
        justify-content: center;
        margin: auto;
    
    }
   
    .sidebar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        background-color: rgb(224, 219, 219); ;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        width: 80vw;
        
    }
    .blogs{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .menu-item > ul{
        display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr; 
    
        
    }
    .menu-item>ul>li>a{
        color: white;
        background-color: black;
    }

    /* ---------------------only visible in tablet view ------------------- */
    section>button{
        visibility: visible;
        display: flex;
        width: 100px;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
        margin-top: 50px;
        padding: 10px 0;
        background-color: tomato;
        border: none;
        border-radius: 5px;
    }
    section>button>a{
        text-decoration: none;
    }
}
