/* utilities */

* {
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(224, 219, 219);
    margin:0;
    padding: 0;
}

/* --------------------------------------------------------
                       Header section
--------------------------------------------------------- */
.head-container{
    display: flex;
    background-color: rgb(25, 68, 68);
    width: 80vw;
    margin: auto;
    border-radius: 10px;
    color: white;
    
}
.head-text{
    width: 50%;
    margin: 0;
    padding-top: 30px;
    padding-left: 50px;
    object-fit: cover;
  
    
}
.head-text h1{
    font-size: 2rem;
    margin: 0px;
}

.head-image{
    width: 50%;
    margin: 0;
    padding-right: 20px;
}
.head-text> p{
    margin-bottom: 10px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-size: .75rem;
}
.head-button{
    background-color: red;
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-top:30px;
    border-radius: 5px;
    
}

.head-container> .head-image> img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position:left;
}

/*--------------------------------------------------
                    Main body section
----------------------------------------------------- */
main{
    margin: auto;
}
.main-container{
    width: 80vw;
    display:flex;
    margin: auto;
    
    padding: 50px 0 50px 0;

    
}
/* sidebar*/
.sidebar-container{
    margin: 0px;
    padding: 0px;
    width: 250px;
   
    background-color: rgb(224, 219, 219);
    
}
.sidebar{
    width: 90%;
    height: 170px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 10px;
    background-color: rgb(9, 47, 90);

}
.sidebar div{
    width: 80%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    text-align: center;

    
}

.sidebar a{
    text-decoration: none;
    color: black;
}


/* blog */
.blogs{
    width: 100%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    
}
.blogs img {
    height: 100%;
    width: 100%;
    object-fit: cover;
   
}
.blog{
    border: 1px solid rgb(148, 144, 144);
    border-radius: 10px;
    overflow: hidden;
}
.thumbnail{
    height: 200px;
    margin-bottom: 10px;
}

.blog-info a{
    text-decoration: none;
    background-color: rgb(209, 216, 214);
    color: black;
    font-size: .75rem;
    border: 1px solid black;
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
}
.blog-info h3{
    padding-left: 10px;
}
.fa-trophy{
    padding-left: 10px;
    padding-right: 10px;
}
.fa-comment-dots{
    padding-left: 10px;
    padding-right: 10px;
}
/* footer */
footer{
    background-color: black;
    color: white;

}
footer h1 { 
    text-align: center;
    padding: 20px;
}
footer hr{
    width: 90%;
}
.menu-item{
    display:flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    
}
.menu-item> ul{
    display: inline-flex;
}

.menu-item li{
    
    list-style: none;
    padding: 20px;   

}
.menu-item a{
    text-decoration: none;
    color: white;
    font-size: .75rem;

}